.container {
  display: flex;
}
@font-face {
  font-family: myFont;
  src: url(Norse-Bold.otf);
}
body {
  background-color: rgba(250, 250, 250, 0.3);
}

.left{
  display: flex;
}
#logo-picture{
  height: 120px;
  width: 80px;
}
#logo {
  display: flex;
  position: absolute;
  top: 200px;
  height: 150px;
  min-width: 37.5%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
}

#list{
  max-width: 100%;

}

#od {
  font-family: myFont;
  color: white;
  font-size: 7rem;
}

#undeline{
  text-decoration: underline;
  padding: 2px;
}
#unsplash{
  color: white;
  padding: 2px;
}
#credit {
  position: absolute;
  display: flex;
  width: 37.5%;
  color: white;
  align-items: center;
  justify-content: center;
  bottom:0px;
}

.right{
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-top: 5%;
}
.right > p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  width: 80%;
  font-weight: 700;
  padding-left: 50px;
  margin-bottom: 25px;
}

form > p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5%;
}
.form-div{
  display: flex;
}
.column-one{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.column-two{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  gap: 15px;
}

.right > form{
  display: flex;
  flex-direction: column;
  padding: 20px 10px 0px 50px;
  background-color: rgb(235, 116, 116);
  border-radius: 0px 25px 25px 0px;
  width: 100%;
  height: 40%;
}
label, input{
  display: block;
}
label {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: myFont;
}

input{
  width: 100%;
  height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border-color: #E5E7EB;
}

input:focus {
  outline: 0;
  border: 1.5px solid blue;
  box-shadow: 5px 5px 10px grey;
}

input.error:invalid{
  outline: 0;
  border: 1.5px solid red;
}

button {
  color: #596D48;
  background-color: rgb(15, 46, 15);
  text-align: center;
  font-family: myFont;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 50px;
  height: 8%;
  width: 17%;
  border: 1px solid rgb(15, 46, 15);
  border-radius: 10px;
}

button:active{
  color: rgb(176, 221, 146);
  background-color: rgb(15, 46, 15);
 
}

p.acc{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 80%;
  font-weight: 100;
  padding-left: 50px;
  margin-bottom: 25px;
}

#login{
  text-decoration: none;
  color: #596D48;
}